<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
         <link rel="icon" href="/img/weather.png">
    </head>
    <body>
         <div class="main-content">
        {{>header}}
        <p>This website created by Rajesh. Its read conent from  weatherapp</p>
        <img class="portrait"  src='./img/robot.png'/>
        <h1>{{title}}</h1>
        </div>
        {{>footer}}
    </body>
</html>